
Engine/bin/*
*/build

*/.gradle/

apidoc.zip

Design.zip
AdminPanel.zip
Engine/.gradle
Engine/build
newDesignIntBackup/*
newDesignIntNew/*
Engine/logs
newDesignInt.zip

.gradle
Engine/.classpath
Engine/.settings
LaundryDAO
