	<!-- Start Header -->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	  <div class="row">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="img/logo_header.png"  class="headerLogo"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-include="'menu.html'">
        </div><!--/.nav-collapse -->
      </div>
	  </div>
    </nav>
	<!-- End Header -->
	
	<div class="container">
		<div class="row">
		<div class="mt80">
			<!-- New Order Panel -->
			<div class="panel panel-success">
			    <div class="panel-heading">Stores
            <button class="btn btn-default btn-sm addBtn on-right" data-toggle="modal" data-target="#basicInfoModal" ng-click="new = true;">Add Store</button>
          </div>
			    <div class="panel-body">
					<!-- Data Grid -->
						<table id="oraderTable" datatable="ng" class="table table-hover table-striped table-bordered table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
										<th>Name</th>
										<th>Active</th>
										<th>Opening Date</th>
										<th>Closing Date</th>
										<th data-orderable="false">Edit & Close</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="store in stores">
										<td ng-order>{{store.storeId}}</td>
										<td>{{store.name}}</td>
										<td>{{store.active}}</td>
										<td>{{store.openingDate}}</td>
										<td>{{store.closingDate}}</td>
										<td>
											<i class="fa fa-edit fa-lg" data-toggle="modal" data-target="#basicInfoModal" ng-click="updateStore(store);"></i>
											<i class="fa fa-trash fa-lg fg-red" ng-click="closeStore(store)"></i>
										</td>
                                    </tr>
								</tbody>
							</table>
					<!-- End Data Grid -->
					
				</div>
		  </div>
	   </div>
   </div>
  </div>
	
<!-- for Basic Info Edit  Modal -->
    <div class="modal fade" id="basicInfoModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <form role="form" class="form-horizontal" ng-submit="saveStore();">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Store Info</h4>
              </div>
             
          <div class="modal-body">            
            <div class="col-md-12">
              <label class="col-md-4 control-label">Name :</label>
              <div class="col-md-8">
                <input type="text" placeholder="Enter Name" class="form-control" ng-model="editStore.name" required>
              </div>
            </div>

            <div class="col-md-12 mt5">
              <label class="col-md-4 control-label">Opening Date :</label>
              <div class="col-md-8">
				<input type="text" id="openingDate" class="form-control" placeholder="Enter Opening Date" ng-model="editStore.openingDate" required/>
              </div>
            </div>

            <div class="col-md-12 mt5">
              <label class="col-md-4 control-label">Active :</label>
              <div class="col-md-8">
			           <input type="checkbox" class="form-control" ng-model="editStore.active">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

            <div class="modal-footer">
          <input type="submit" class="btn btn-success" value="Save"/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  <!-- End Modal -->
  <script>
		$('#openingDate').datepicker({
			language:  'en',
	        weekStart: 1,
	        todayBtn:  "linked",
			autoclose: 1,
			todayHighlight: true,
			format: "dd M yyyy",
			startDate: "0d",
			disableTouchKeyboard: true,
			
		});
</script>